dj-database-url
dj-static
Django
django-geoposition
django-toolbelt
djangorestframework
gunicorn
psycopg2-binary
static3
whitenoise
django-braces
django-model-utils
django-star-ratings
boto3
botocore
docutils
jmespath
python-dateutil
s3transfer
six
static3
django-storagea
boto
Pillow
